:root {
  --photo-size: 100px;
  --card-size: 190px;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

section {
  width: 100%;
  background-color: rgb(228, 224, 224);
  background-image: linear-gradient(rgb(248, 234, 234), rgb(245, 114, 114));
}

.cardsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  width: 70%;
  margin: auto;
}

h1,
.choice {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: rgb(245, 114, 114);
}

h1 {
  padding-top: 30px;
}

.cardWrapper {
  width: var(--card-size);
  height: var(--card-size);
  margin: 1rem;
  padding: 2px;
  background-color: #fff;
}

.cardContainer {
  text-align: center;
}

.cardPhotoWrapper {
  width: var(--photo-size);
  height: var(--photo-size);
  position: relative;
  margin: auto;
}

.cardPhotoWrapper>* {
  position: absolute;
  width: 100%;
  height: 100%;
 
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.cardPhoto {
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.cardName {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: initial;
}

.cardWrapperItems {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.cardItem {
  margin: 0 2px;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgb(245, 114, 114);
}

.fb-icon {
  background-image: url(../images/icons-facebook.svg);
}

.tw-icon {
  background-image: url(../images/icons-twitter.svg);
}

.inst-icon {
  background-image: url(../images/icons-instagram.svg);
}

.wrap-list {
  width: 80%;
  padding: 20px 0 50px 0;
  margin: auto;
  text-align: center;
}

.choice {
  width: 100%;
  background-color: rgb(230, 225, 225);
}

.cardInitial {
  background-image: url(../images/no-image-found.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  border-radius: 50%;
  background-color: rgb(245, 114, 114);
}

.errorMess{
  width: 80%;
  height: 175px;
  margin: auto;
  background-image: url(../images/404-not-found.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}